@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');

/* font family styles here */
body {
    font-family: Azeret Mono;
    margin: 0;
    padding: 0;
}
.nav-content {
    max-width: 80%;
    height: 100px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-content h2 {
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 28px;
    font-weight: 800;
}
.nav-content button {
    color: rgb(95, 99, 113);
    font-family: Azeret Mono;
    font-size: 20px;
    font-weight: 600;
    padding: 20px 17px;
    border-radius: 15px;
}

/* navber styles end here */

/* banner section styles start here */
.banner-container {
    max-width: 100%;
    height: 610px;
    background-image: url('../assets/Hero-bg.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.second-banner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.banner-img {
    width: 240px;
    height: 240px;
}
.banner-img img {
    margin-top: 25px;
    width: 100%;
    height: 100%;
}
.banner-heading {
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 40px;
    font-weight: 500;
    text-align: center;
}
.banner-para {
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    text-align: center;
}
.primary-btn {
    margin-top: 20px;
}
.banner-btn {
    color: rgb(255, 255, 255);
    font-family: Azeret Mono;
    font-size: 20px;
    padding: 15px 10px;
    border-radius: 8px;
    background: rgb(13, 19, 33);
}
/* banner section styles end here */

/* web devlopment section style start here */
.web-container {
    width: 1140px;
    height: 1293px;
    margin: 0 auto;
    /* border: 2px solid red; */
    margin-top: 70px;
}
.web-container h2 {
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 32px;
    font-weight: 800;
    text-align: center;
}
.web-container p {
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    text-align: center;
}
.web-main {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    height: 370px;
}
.left-side {
    width: 50%;
    margin-left: 70px;
}
.left-side h3 {
    color: rgba(13, 19, 33, 0.7);
    font-family: Azeret Mono;
    font-size: 24px;
    font-weight: 700;
}
.left-side p {
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    text-align: left;
}
.common-btn {
    padding: 10px 15px;
    border-radius: 5px;
}
.clickable-btn:hover {
    background-color: black;
    color: white;
}
.right-side {
    width: 50%;
    /* height: 1393px; */
    /* border: 2px solid yellow; */
}
.right-side img {
    margin-left: 150px;
}
.middle-main {
    display: flex;
    flex-direction: row-reverse;
}
.middle-side {
    margin-right: 70px;
}
/* web devlopment section end here */

/* my inspiration styles start here */
.inspiration-container {
    width: 1140px;
    height: 775px;
    margin: 0 auto;
    /* border: 2px solid red; */
    margin-top: 90px;
}
.left-inspiration h3 {
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 32px;
    font-weight: 800;
    text-align: center;
}
.left-inspiration p {
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    text-align: center;
}
.right-inspiration {
    width: 1076px;
    height: 550px;
    margin: 0 auto;
    /* border: 2px solid yellow; */
    margin-top: 35px;
}
.youtube-video {
    width: 100%;
    height: 100%;
}

/* my inspiration styles end here */

/* my current target style start here */

.target-container {
    width: 1140px;
    height: 460px;
    margin: 0 auto;
    /* border: 2px solid red; */
}

.current-content h3 {
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 32px;
    font-weight: 800;
    text-align: center;
}

.current-content p {
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    text-align: center;
}

.card-content {
    margin-top: 30px;
    display: flex;
    gap: 15px;
}

.main-card {
    width: 340px;
    height: 200px;
    /* border: 2px solid yellow; */
    padding: 40px;
    background: rgba(255, 76, 30, 0.05);
    border-radius: 16px;
}

.second-card {
    background: rgba(0, 76, 232, 0.05);
}

.third-card {
    background: rgba(255, 223, 0, 0.05);
}

/* my current target style end here */


/* my next target style start here */
.next-target {
    width: 1140px;
    height: 866px;
    margin: 0 auto;
    /* border: 2px solid red; */
    margin-top: 50px;
}

.next-content h3 {
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 32px;
    font-weight: 800;
    text-align: center;
}

.next-content p {
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    text-align: center;
}

.first-target {
    width: 1140px;
    height: 219px;
    /* border: 2px solid yellow box-sizing: border-box; */
    border: 1px solid rgba(13, 19, 33, 0.15);
    border-radius: 16px;
    background: rgb(255, 255, 255);
    display: flex;
    gap: 30px;
    margin-top: 15px;
}

.img-target {
    /* border: 2px solid green; */
    align-content: center;
    margin-left: 20px;
}

.text-target {
    margin-top: 25px;
}

.text-target h4 {
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 24px;
}

.text-target p {
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
}

.text-target a {
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 700;
}
/* my next target style start here */

/* i need my support style start here */
.support-container {
    width: 1140px;
    height: 313px;
    margin: 0 auto;
    /* border: 2px solid red; */
    background-color: rgb(0, 0, 0, 0.5);
    background-image: url('../assets/handshake.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 16px;
    margin-top: 30px;
    background-blend-mode: overlay;
}
.need-text {
    width: 1044px;
    height: 185px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 40px;

}

.need-text h4 {
    color: rgb(255, 255, 255);
    font-family: Azeret Mono;
    font-size: 32px;
    font-weight: 700;
}

.need-text p {
    color: rgb(255, 255, 255);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
}

.main-input {
    display: flex;
    flex-direction: row;
    gap: 20px;
    margin-top: 30px;
}

.first-input {
    width: 300px;
    text-align: left;
    padding: 10px 10px;
    border-radius: 10px;

}

#second-input {
    width: 100px;
    border-radius: 10px;
}

/* i need my support style end here */

/* footer section style start here */
.footer-part {
    width: 100%;
    height: 100px;
    margin-top: 30px;
    display: flex;
    align-items: center;
    gap: 550px;
}

.footer-text {
    margin-left: 190px;
}

.footer-text h4 {
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 20px;
    font-weight: 600;
}

.social-link a{
    text-decoration: none;
}

/* footer section style end here */