@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');

/* font family styles here */
body {
    font-family: Azeret Mono;
    margin: 0;
    padding: 0;
}

.nav-content {
    max-width: 80%;
    height: 100px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-content h2 {
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 28px;
    font-weight: 800;
}

.nav-content button {
    color: rgb(95, 99, 113);
    font-family: Azeret Mono;
    font-size: 20px;
    font-weight: 600;
    padding: 20px 17px;
    border-radius: 15px;

}

/* navber styles end here */

/* banner section styles start here */

.banner-container {
    max-width: 100%;
    height: 610px;
    background-image: url('../assets/Hero-bg.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.second-banner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.banner-img{
    width: 240px;
    height: 240px;
}
.banner-img img {
    margin-top: 25px;
    width: 100%;
    height: 100%;
   
}

.banner-heading{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 40px;
    font-weight: 500;
    text-align: center;
   
}

.banner-para{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    text-align: center;

}
.primary-btn{
    margin-top: 20px;
}

.banner-btn {
    color: rgb(255, 255, 255);
    font-family: Azeret Mono;
    font-size: 20px;
    padding: 15px 10px;
    border-radius: 8px;
    background: rgb(13, 19, 33);

}



/* banner section styles end here */